.sign-up {
  @include flexCenter(column);
  height: 100vh;
  width: 100vw;
  background-color: $color-background-green;

  &__card {
    @include flexCenter(column);
    @include card();
    width: 600px;

    &__title {
      @include text(large, large);
      margin-top: 1em;
      margin-bottom: 0em;
      font-size: 32px;
    }

    &__form {
      @include flexCenter(column);
      width: 75%;
      
      &__box {
        justify-content: left;
        @include flexCenter(column);
        width: 100%;
  
        &__label {
          width: 100%;
          margin-top: 1em;
          margin-bottom: 0.5em;
          
          @include text(regular, regular);
        }
  
        &__input {
          padding: 1em;
          @include text(medium, regular );
          height: 100%;
          width: 100%;
          box-sizing: border-box;
        }

        &__sign-up-button {
          @include button($color-button-blue);
          font-size: 20px;
          margin-top: 1.5em;
          width: 100%;
        }
      }
    }
  
    &__sign-in-link {
      @include flexCenter(column);
      width: 100%;
      color: blue;
      font-weight: bold;
      margin-top: 0.7em;
      margin-bottom: 0.8em;

      &:hover {
        color: $color-link-hover;
      }
    }
  }
}