$color-background-green: #4bbb7d;
$color-background-light-grey: #ffffff;
$color-button-hover: #e4deae;
$font-sizes: (
  "regular": 14px,
  "medium": 18px,
  "large": 28px,
);
$font-weights: (
  "regular": 400,
  "medium": 550,
  "bold": 700,
);