$color-background-green: #4bbb7d;
$color-background-light-grey: #ffffff;
$color-background-medium-grey: #f2f2f2;


$color-button-blue: (
  "initial": #00639b,
  "hover": #003256,
  "text": #ffffff,
);

$color-button-yellow: (
  "initial": #ffbb00,
  "hover": #cc9500,
  "text": #ffffff,
);

$color-button-red: (
  "initial": #fd424b,
  "hover": #b02e34,
  "text": #ffffff,
);

$color-button-white: (
  "initial": #ffffff,
  "hover": #cecece,
  "text": #000000,
);

$color-button-green: (
  "initial": #36875a,
  "hover": #215438,
  "text": #ffffff,
);

$color-link-initial: blue;
$color-link-hover: #7e9ae6;
$color-text-white: #ffffff;

$font-sizes: (
  "regular": 14px,
  "medium": 18px,
  "large": 28px,
);
$font-weights: (
  "regular": 400,
  "medium": 550,
  "bold": 700,
);